<template name="resultAdmin">
    {{> pageHeading title='Result Admin' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" style="text-align:center;">
            <div class="col-lg-12">
                {{#each getAnswerItems}} {{>answerItemRow}} {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="answerItemRow">
    <div class="row">
        <div class="col-xs-4"><img src="{{this.home_team.image}}" style="max-width: 100%;float: right;" class="img-circle" />{{this.home_team.label}}</div>
        <div class="col-xs-4">
            <div class="row">
                {{this.date}}
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <input id="{{this._id}}" name="home_score" value="{{this.home_score}}" class="form-control">
                </div>
                <div class="col-xs-6 form-group">
                    <input id="{{this._id}}" name="away_score" value="{{this.away_score}}" class="form-control">
                </div>
            </div>
            <div class="row">
                {{this.description}}
            </div>
        </div>
        <div class=" col-xs-4 "><img src="{{this.away_team.image}}" style="max-width: 100%;float: left;" class="img-circle" />{{this.away_team.label}}</div>
    </div>
</template>
