<template name="adminGroupSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{getSelectedGroup}} <span class="caret"></span></button>
        <ul class="dropdown-menu group-selection">
            {{#each getAdminGroups}}
            <li><a href="#">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="groupSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{getSelectedGroup}} <span class="caret"></span></button>
        <ul class="dropdown-menu group-selection">
            {{#each getGroups}}
            <li><a href="#">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="competitionSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{getSelectedCompetition}} <span class="caret"></span></button>
        <ul class="dropdown-menu competition-selection">
            {{#each getCompetitions}}
            <li><a href="#">{{this._id}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="matchRow">
    <div class="row">
        <div class="col-xs-3 col-sm-4 col-lg-5">
            <img src="{{this.homeTeam.image}}" style="max-width: 100%;float: right;" />
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <div class="row">
                <div class="col-xs-12">{{prettyDate this.date}}
                </div>
                <div class="col-xs-6">
                    <input id="{{this._id}}" name="homeScore" value="{{this.homeScore}}" class="form-control">
                </div>
                <div class="col-xs-6">
                    <input id="{{this._id}}" name="awayScore" value="{{this.awayScore}}" class="form-control">
                </div>
                <div class="col-xs-6">
                    {{this.homeTeam.label}}
                </div>
                <div class="col-xs-6">
                    {{this.awayTeam.label}}
                </div>
                <div class="col-xs-12"> {{this.competition}} {{this.description}}
                </div>

            </div>
        </div>
        <div class="col-xs-3 col-sm-4 col-lg-5">
            <img src="{{this.awayTeam.image}}" style="max-width: 100%;float: left;">
        </div>
    </div>
</template>

<template name="questionRow">
    <div class="row">
        <div class="col-xs-12">
            {{prettyDate this.date}}
        </div>
        <div class="col-xs-12">
            {{this.description}}
        </div>
        <div class="col-xs-4 col-sm-5">
        </div>
        <div class="col-xs-4 col-sm-2">
            {{#if equals this.options 'INTEGER'}}
            <input id="{{this._id}}" name="answer" value="{{this.answer}}" class="form-control"> {{else}}
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{> displayCountry getActor this.answer}}<span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu answer-selection">
                    <li id="{{this._id}}">
                        {{#each getActors this.options ',' 'CTRY'}} {{> dropdownAnswer}} {{/each}}
                    </li>
                </ul>
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="dropdownAnswer">
    <a id="{{this._id}}" href="#">{{> displayCountry}}</a>
</template>

<template name="displayCountry">
    <img src="flags/{{this.iso3}}.png" height="25px">&nbsp;{{this.label}}
</template>
