<template name="adminGroupSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{#with getSelectedGroup true}}<img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}{{/with}} <span class="caret"></span></button>
        <ul class="dropdown-menu group-selection">
            {{#each getAdminGroups}}
            <li>
                <a id="{{_id}}" href="#"><img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="groupSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{#with getSelectedGroup false}}<img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}{{/with}} <span class="caret"></span></button>
        <ul class="dropdown-menu group-selection">
            {{#each getGroups}}
            <li>
                <a id="{{_id}}" href="#"><img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="userSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{#with getSelectedUser}}{{username}}{{/with}} <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu user-selection">
            {{#each getUsers}}
            <li><a id="{{_id}}" href="#">{{username}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="competitionSelection">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{#with getSelectedCompetition false}}<img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}{{/with}} <span class="caret"></span></button>
        <ul class="dropdown-menu competition-selection">
            {{#each getCompetitions}}
            <li>
                <a id="{{_id}}" href="#"><img src="logos/{{_id}}.png" height="25px">&nbsp;{{label}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="matchRow">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-radius: 10px 10px 0px 0px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>{{prettyDate this.date}}</h5>
                        </div>
                        <div class="col-xs-6" style="text-align:right;">
                            <img src="/logos/{{this.competitionId}}.png" height="25px">&nbsp; {{this.competitionId}}
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-3 col-sm-4">
                            <img src="/flags/{{this.homeTeam.iso3}}.png" style="max-width: 100%;float: right;" />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{this.homeTeam.label}}
                                </div>
                                <div class="col-xs-6">
                                    {{this.awayTeam.label}}
                                </div>
                                <div class="col-xs-6">
                                    <input id="{{this._id}}" name="homeScore" value="{{this.homeScore}}" class="form-control" style="margin: 0 auto;width: 50px;text-align: center;">
                                </div>
                                <div class="col-xs-6">
                                    <input id="{{this._id}}" name="awayScore" value="{{this.awayScore}}" class="form-control" style="margin: 0 auto;width: 50px;text-align: center;">
                                </div>
                                <div class="col-xs-12">{{this.description}}
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-4">
                            <img src="/flags/{{this.awayTeam.iso3}}.png" style="max-width: 100%;float: left;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="questionRow">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-radius: 10px 10px 0px 0px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>{{prettyDate this.date}}</h5>
                        </div>
                        <div class="col-xs-6" style="text-align:right;">
                            <img src="/logos/{{this.competitionId}}.png" height="25px">&nbsp; {{this.competitionId}}
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{this.description}}</p> {{#if equals this.options 'INTEGER'}}
                            <input id="{{this._id}}" name="answer" value="{{this.answer}}" class="form-control" style="margin: 0 auto;width: 200px;text-align: center;"> {{else}}
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" style="width: 200px;">{{> displayCountry getActor this.answer}}<span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu answer-selection">
                                    <li id="{{this._id}}">
                                        {{#each getActors this.options ',' 'CTRY'}} {{> dropdownAnswer}} {{/each}}
                                    </li>
                                </ul>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="dropdownAnswer">
    <a id="{{this._id}}" href="#">{{> displayCountry}}</a>
</template>

<template name="displayCountry">
    <img src="flags/{{this.iso3}}.png" height="25px">&nbsp;{{this.label}}
</template>
