<template name="standings">
    {{> pageHeading title='Standings' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        {{> groupSelection }} {{> competitionSelection }}

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Striped Table </h5> {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Paid</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each getUsers}} {{>standingsRow}} {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="standingsRow">
    <tr>
        <td>{{rank}}</td>
        <td>{{username}}</td>
        <td>{{prettyDate date}}</td>
        <td>{{#if hasPaid _id}}<i class="fa fa-btc"></i>&nbsp;Yes{{/if}}</td>
        <td><a href="/points/{{_id}}">{{points}}</a></td>
    </tr>
</template>
