<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-top-links navbar-left">
                <li>
                    <button class="btn btn-primary navbar-btn menu-button" type="button" style="width:90px;"><i class="fa fa-bars"></i>&nbsp;Menu</button>
                </li>
            </ul>
            <ul class="nav navbar-nav  navbar-center">
                <img src="/logos/gome.png" style="height:70px;"> GoPredict.me
            </ul>
            <ul class="nav navbar-nav navbar-top-links navbar-right">
                <li>
                    <button class="btn btn-primary navbar-btn back-button" type="button" style="width:90px;"><i class="fa fa-step-backward"></i>&nbsp;Back</button>
                </li>
            </ul>
        </div>
    </nav>
</template>
