<template name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor route='home'}}">GoPredict.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {{#if getCurrentUser}}
                <div class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-success logout">Log Out</button>
                </div>
                {{else}}
                <form id="login-form" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" id="username" placeholder="Username or Email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>&nbsp;Log In</button>
                </form>
                {{/if}}
            </div>
        </div>
    </nav>

    <!--button class="btn btn-primary navbar-btn back-button" type="button" style="width:90px;"><i class="fa fa-step-backward"></i>&nbsp;Back</button-->
</template>
